.timer-controls {
  display: flex;
  justify-content: center;

  .button {
    padding: .75rem 3rem;
  }

  .button:first-child {
    margin-right: 1.5rem;
  }

  .button.hollow {
    border-color: #b3b3b3;
    color: #b3b3b3;
  }
}
